$avenir: "Avenir Next";
$workSans: "Work Sans";
$fontNormal: "normal";
$fontBold: "bold";

// use this one
$s-1: 0.1rem;
$s-8: 0.8rem;
$s-half: 50%;
$s-full: 100%;
$s-quarter: 25%;
$md-screen-bk: 768px;
$w10-px: 10px;
$w50-px: 50px;
$w20-px: 20px;
$w30-px: 30px;
$w40-px: 40px;
$w90-px: 90px;
$w140-px: 140px;
$l-7-7: 7.7rem;
$l-10: 10rem;

// end here

$w80-p: 80%;
$w28-p: 28%;
$w70-p: 70%;
$w10-p: 10%;
$w26-p: 26%;
$w3-p: 3%;
$w4-p: 4%;
$w23-p: 23%;
$w30-p: 30%;

$primary-color1: #2d41cf;
$primary-color1-thin: #57678c;
$primary-color1-faint: #818da9;
$secondary-color1: #4baa79;
// $secondary-color1-thin: #545f7d99;
// $secondary-color1-faint: #545f7d1a;
$status-pending: #e9b200;
$status-pending-faint: #e9b2001a;
$status-active: #4baa79;
$status-active-faint: #39cd621a;
$status-blacklisted: #e05453;
$status-blacklisted-faint: #e4033b1a;
$primary-color2: #38cccc;
$primary-color2-faint: #39cdcc1a;
$faint-color: #e7e7e7;
$error-color: #dc343b;
